<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <div>
            <h6>카테고리 등록 </h6>
            <input type="text" class="cname">
            <button onclick="setCategory()" type="button"> 카테고리 등록</button>
        </div>
        <div>
            <h6>카테고리 목록 </h6>
            <div class="categorylistbox"></div>
        </div>
    </div>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board.js"  type="text/javascript"></script>


</body>
</html>