<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <a href="/member/list">글목록</a>

    <div>

        <div>
            <h6>갤러리목록</h6>
            <div class="clistbox"></div>
        </div>

        <div>
            <h6>게시물 작성 </h6>

            <input type="text" class="btitle">
            <input type="text" class="bcontent">
            <button onclick="setBoard()" type="button">글작성</button>

        </div>
    </div>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board.js"  type="text/javascript"></script>

</body>
</html>